<%= simple_form_for @flat do |f| %>
  <%= f.input :name, input_html: { class: 'form-control'}%>
  <%= f.input :address, input_html: { class: 'form-control'}  %>
  <%= f.input :picture_url, input_html: { class: 'form-control'} %>
  <%= f.input :description, input_html: { class: 'form-control'}  %>
  <%= f.input :price_per_night, input_html: { class: 'form-control'}  %>
  <%= f.input :number_of_guests, input_html: { class: 'form-control'}  %>

  <div class="d-flex mt-3">
    <%= f.submit "Confirm", class: "btn btn-primary mr-3" %>
    <%= link_to "Cancel", flats_path, class: "btn btn-danger"  %>
  </div>
<% end %>
