<div class="info-img-top" style="background-image: url('<%= @flat.picture_url %>')">
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <div class="descriptionall">
        <div class="name-address">
          <h2><%= @flat.name %></h2>
          <p><%= @flat.address %></p>
        </div>
        <div class="description">
          <h3>A bit more about this flat...</h3>
          <p>A lovely summer feel for this spacious garden flat. Two double bedrooms, open plan living area, large kitchen and a beautiful conservatory</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="book">
        <div class="book-form">
          <h3>Book this place!</h3>
          <form action="">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">From:</span>
              <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mt-2">
              <span class="input-group-addon" id="basic-addon1">To:</span>
              <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
          </forms>
        </div>
        <div class="book-form1 mt-3">
          <h3>Détails</h3>
          <div class="d-flex">
            <p><i class="fas fa-user-friends"></i></p><p class="pricenumber"><%= @flat.number_of_guests %></p>
            <p><i class="fas fa-euro-sign"></i></p><p class="pricenumber"><%= @flat.price_per_night %></p>
          </div>
        </div>
        <div class="flex">
        </div>
      </div>
    </div>
  </div>
</div>
